<div class= "jumbotron">
  <h1>Yay! it worked! thanks for you interest in our company</h1>

  <a href = "/animal-entry"><button type="submit" class = "btn btn-success">enter another animal</button></a>
  <a href = "/"><button type="submit" class = "btn btn-info">go back</button></a>
</div>
